/* $desktop:1200px;-xl
$laptop:992px;-lg
$tablet:768;-md
$phone:480;-sm */
/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding:0;
  margin:0;
  outline:0;
  text-decoration: none;
}
body{
background-color: #F5F5F5;
}
header{
  background-color: blue;
  color: #fff;
  height: 47%;
}
nav{
  display: flex;
 float: right;
 width: 360px;
 justify-content: space-between;
 align-items: center;
 margin-top: 8px;
 font-size: 12px;
}

.nav-item-active{
  background-color: #fff;
  color: #0000ff;
  border: none;
  border-radius: 3px;
  padding: 1px 4px;
}
.logo{
  margin: 20px 0 0 25px;
  height:30px;
}
@media screen and (max-width:480px) {
  .logo{
    margin: 20px 0 0 40%;
    width: 80px;
  }
  nav{
    float: none ;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 0 !important;
    width: 100%;
  }
  nav *{
    margin-right: 0;
  }
  header{
    padding-top:10px ;
  }
}
.header-image{
  height: 50vh;
  width: 29vw;
}
header>div:last-child{
  position: absolute;
  right: 0;
  top:70px;
}
.header-text{
  margin: 50px 0 0 35px;
  font-size: 12px;
}
.header-text *{
  margin-bottom: 11px;
}
.header-text>img{
  height: 3.5px;
}
@media screen and (max-width:768px) {
  .header-image{
    height: 40vh;
  }
  .header-text{
    font-size: 10px;
  }
  nav{
    font-size: 10px;
  }
  nav{
    width: 320px;;
  }
}
@media screen and (max-width:480px) {
  header>div:last-child{
    position: static;
    width: 100%;
    display: flex;
    justify-content: center
  }
  .header-image{
    float: ;
    width: 250px;
    height: 250px;
    margin-right: 10px;
  }
  header{
    height: 600px;
  }
  .header-text{
    text-align: center;
    margin: 25px 0 0 0;
  }
  nav{
    width: 100%;
  }
}
/* ==================== */
.companies{
  margin: 10px 0 0 3%;
}
.companies *{
  font-family: 'Righteous';
  margin-right: 10px;
  font-size: 15px;
  color:#000;
}
/* Media query below tablet */
@media screen and (max-width:768px) {
  .companies *{
    font-size: 13px;
  }
}
  @media screen and (max-width:480px) {
    .companies {
      margin: 20px 0 0 0;
      display: flex;
      justify-content: center;
      text-align: center  ;
    }
  
}
/* =================CARDS============== */
.api{
  margin-left: 3vw;
  margin-top:75px;
}
.cards{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-logo{
  height: 35px;
}
.cards>div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 155px;
  height: 20vh;
  padding: 1rem 1.2rem;
  font-size: 12px;
  border-radius: 8px;
}
.cards>div:first-child{
  background-color: #fff;
  box-shadow: -1px 3px 10px  rgb(167, 152, 152);
}
.card-head-active{
    color: blue;
}
.cards{
  align-content: space-around;
}
.api-heading{
  font-size:20px !important;
}
@media screen and (max-width:480px) {
  .cards{
    justify-content: center;
  }
  .api-heading{
    text-align: center ;
  }
  .api{
    margin-top: 30px;
  }
}

/* =========================== */
.blog-heading{
  margin: 50px 0 0 11%;
  font-size: 11px;
}
.blog-cards{
  display: flex;
  margin: 30px 0 50px 3vw;
  justify-content: space-evenly;
  gap:20px;
  flex-wrap: wrap;
  height: 29%;
  font-size: 13px;
}
.blog-image{
  height: 100%;
}
.blog-image img{
  height: 100%;
}
.blog-card{
  height: 200px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border-top-left-radius: 38px;
  box-shadow: 1px 3px 10px 2px rgb(162, 162, 162);
}
.blog-right{
  display: flex;
  gap:100px;
  justify-content: space-between;
}
.blog-author{
  font-size: 8px;
  position: relative;
  top:8px;  
  left:20px;
}
.blog-bottom{
  position: relative;
  left: 50px;
  order: 2;
  top:10px;
}
.blog-bottom img{
  height: 35px;
  flex: 2;
}
.blog-content{
  order: 4;
  flex-grow: 1;
  margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media screen and (max-width:768px) {
  .blog-bottom{
    display: none;
  }
  .blog-author{
    display: none;
  }
}
@media screen and (max-width:480px) {
  .blog-cards{
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-left: 0;
  }
  .blog-card{
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 200px;
    border-top-left-radius: 40px;
    margin: 0;

  }
  .blog-image{
    width: 100%;
    height: 230px;  
  }
  .blog-content{
    text-align: center;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .blog-heading{
    margin: 0;
    margin-top: 20px;
    text-align: center;
  }
}
/* ======================= */

.faq-section{
   width: 100%;
   display: flex;
   justify-content: space-between;
   /* flex-wrap: wrap; */
   height: 250px;
   margin-top: 5%;
   background-color: #e9edff;
  }
  .faq-section img{
    height: inherit;
    border: none;
    width: 32%;
    margin-right: 10%;
}
.faq-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:10px;
  width: 35%;
  font-size: 12px;
  margin-left: 3%;
}
.faq-content button{
  width: 70px;
  font-size: 10px;
  color: #fff;
  background-color: #5a31fc;
  border: none;
  padding: 3px 1px;
  margin-bottom: 10px;
}
/* Media query below tablet */
@media screen and (max-width:768px) {
  .faq-section img{
    margin-right: 0px;
  }
 
}
@media screen and (max-width:480px) {
  .faq-section{
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap:10px
  }
  .faq-section img{
    width: 100%;
  }
  .faq-content{
    width: 100%;
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
/* ============================ */
.download-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  height: 15vh;
  padding-left: 3%;
}
.download-content span{
  font-size: 23px;
}
.download-email{
  display: flex;
  background-color: #e9edff;
  align-items: center;
  border: 1px solid;
  width:275px;
  border-radius: 20px;
  padding: 2px 2px;
}
.download-email form{
  display:flex;
  justify-content: space-between;
}
.download-email input{
  background-color: #e9edff;
  border: none;
  margin-left: 10%;
}
.download-email input::placeholder{
  font-size: 9px;
  display: block;
}
.download-email button{
  background-color: #5A31FC;
  border:1px solid #000;
  color:#fff;
  font-size: 9px;
  padding: 5px 20px;
  border-radius: 20px;
}
@media screen and (max-width:480px) {
 .download-section{
  justify-content: center;
 } 
 .download-section *{
  margin: 0;
 }
}
@media screen and (max-width:480px) {
  .download-email *{
    transform: scale(0.85);
    margin: 0;
  }
  .download-email {
    width: 248px;
    height: 19px;
    align-items: center;
  }
}
/* ====================== */
.footer-section{
  background-color: blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-bottom: 30px;
}
.footer-section ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 8px;
}
.footer-left{
  margin-left: 3%;
  margin-top: 25px;
  width: 16vw;
}
.footer-logo{
  height: 25px;
}
li{
  font-size: 9px;
  margin-top: 2%;
}
div.footer-right{
  margin-top: 18px;
  width: 110px;
  margin-right: 8vw;
}
div.footer-right>div{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer-logos{
  height: 20px;

}
@media screen and (max-width:768px) {
  .footer-section ul{
  margin-left: 10px;
  }
 
}
@media screen and (max-width:480px) {
  .footer-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .footer-left{
    margin-left: 0;
  }
  div.footer-right{
    margin-right: 0;
  }
}